body {
  background: linear-gradient(to right, #ffccd5, #ffe6eb);
  font-family: 'Comic Sans MS', cursive;
  text-align: center;
  padding: 20px;
  color: #880e4f;
}
#name-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(255, 240, 245, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.name-box {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.name-box input {
  padding: 10px;
  width: 200px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}


.hero-img {
  width: 150px;
  margin-top: 20px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

button {
  padding: 10px 20px;
  background-color: #f06292;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

input {
  padding: 8px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
